@use '../../shared/base.scss';

footer {
  background-color: base.$background-color-darker;
  border-top: base.$border;
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

footer nav {
  display: flex;
  align-items: center;
  height: 100%;

  * {
    margin: 0 15px;
    position: relative;
  }

  svg {
    transition: transform 0.3s ease-in-out;
  }

  svg:hover {
    transform: rotate(180deg);
  }
}
